@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Raleway:100,300,400|Montserrat|Noto+Serif:400,700');

a:hover {
    color: #1AC0C6;
}
h1, h2, h3{
    font-family: 'Noto Serif', serif;
}
h1 {
    font-size: 30px;
    line-height: 120%;
}
h2 {
    font-size: 12px;
    line-height: 140%;
    color: #CCCCCC;
    text-transform: uppercase;
}
h3 {
    font-size: 12px;
    line-height: 120%;
}
header {
    display: flex;
    align-items: center;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 140%;
}
.card {
    min-width: 295px;
    height: 248px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 20px 0;
    padding: 0px;
}
.card-placeholder {
    background-color: #BAE8E8;
    border-radius: 10px 10px 0 0;
    width: inherit;
    height: 100%;
}
.card-body {
    width: inherit;
}
.card-title {
    font-size: 16px;
}
.social-icon {
    color: #1AC0C6;
    margin: 10px 10px 10px 0;
}
.title-wrapper {
    display: block;
    margin: 0 auto;
}
#avatar {
    border-radius: 50%;
    width: 120px;
    display: block;
    margin: 0 auto;
}
#avatar-wrapper {
    z-index: 1;
    top: -60px;
}
#banner {
    background-image: url("../img/background-graphic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
}
#body-wrapper {
    padding: 0;
    
}
#content {
    background-color: #FAFAFA;
}
#section-about, #section-contact, #section-project {
    /* Wireframe states 40px for sides, but boostrap has a default padding 
    * of 15px from .row
    */
    margin: 20px 25px;
}
#open-statement {
    padding: 0 40px;
}

/* Extra small devices (portrait phones, less than 576px)
 * No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    h1, h2 {
        text-align: left;
    }
    header {
        margin: 40px 92px;
        padding: 0;
    }
    .card {
        max-width: 315px;
    }
    .social-icon {
        margin: 10px;
    }
    #avatar-wrapper {
        z-index: 0;
        top: 0px;
    }
    #card-wrapper {
        display: flex;
        justify-content: center;
    }
 }

/*/Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header, section {
        margin: 60px;
    }
    #section-social {
        display: flex;
        justify-content: flex-end;
    }
}
